
main{
    width: 360px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header{
    text-align: center;
color: white;
height: 300px;
}
header img{
    margin-top: 20px;
    height: 140px;

}
header h2{
    margin: 20px 0%;
    font-size: 35px;
}
header p{
    font-size: 22px;
}
#content{
    background-color: aliceblue;
}
#buttons{
   display: flex;
   justify-content: center; 
   padding-top: 20px;
}
#buttons img{
   width: 45px;
   height: 45px;
   margin: 0 15px; 
}
#volume{
    text-align: center;
    
}
#volume input{
    width: 100%;
}
input[type="range" i]{
    -webkit-appearance:none ;
    background: #e8d8f7;
    height: 4px;
    margin: 0%;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none ;
background: red;
height: 25px;
width: 25px;
border-radius: 50%;
}
h2{
 margin: 15px 0;   
}
#color{
    text-align: center;
    margin-top: 20px;
}
#color button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#color1{
    background: rgba(39, 39, 37, 1);
}
#color2{
    background: rgb(230, 123, 29);
}
#color3{
    background: rgb(215, 38, 29);
}
#color4{
    background: rgb(32, 125, 196);
}

